[Desktop Entry]
Name=MetaTrader 5
Exec=env WINEPREFIX="/home/sorath/.mt5" wine C:\\\\users\\\\sorath\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\MetaTrader\\ 5\\\\MetaTrader\\ 5.lnk
Type=Application
StartupNotify=true
Path=/home/sorath/.mt5/dosdevices/c:/Program Files/MetaTrader 5
Icon=BB3F_Terminal.0
StartupWMClass=terminal64.exe
