[Desktop Entry]
Name=MetaEditor
Exec=env WINEPREFIX="/home/sorath/.mt5" wine C:\\\\users\\\\sorath\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\MetaTrader\\ 5\\\\MetaEditor.lnk
Type=Application
StartupNotify=true
Path=/home/sorath/.mt5/dosdevices/c:/Program Files/MetaTrader 5
Icon=3F42_metaeditor64.0
StartupWMClass=metaeditor64.exe
