[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/run/current-system/sw/bin/thunderbird %u
Name=Thunderbird
Comment=Definição personalizada de Thunderbird
